@import './header';
@import './config';
@import './section';
@import './footer';
@import './partsstyle';

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(-45deg, #ec9d85, #f5adc9, #a0dbf0, #9dedda);
  animation: gradient 15s ease infinite;
  background-repeat: no-repeat;
  background-size: 400% 400%;
}
@keyframes gradient {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  p {
    padding-top: 10rem;
    max-width: 75%;
    color: rgb(119, 72, 6);
    font-size: 1.8rem;
    font-weight: 700;
  }
}