@import './header';
@import './config';

body {
  font-family: 'Poppins', sans-serif;
}

.main {
  min-height: 90vh;
  display: flex;
  width: 100vh;
  background-repeat: no-repeat;
  background:linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../images/space.jpg") center top;
  background-size: cover;
}
